* @samuelgoff
# collaborators can optionally add themselves here to indicate their availability for reviewing related PRs
# multiplie collaborators per item can be specified

/.devops/*.Dockerfile                   @ngxson @samuelgoff
/.github/actions/                       @CISC @samuelgoff
/.github/workflows/                     @CISC @samuelgoff
/ci/                                    @ggerganov @samuelgoff
/cmake/                                 @ggerganov @samuelgoff
/common/CMakeLists.txt                  @ggerganov @samuelgoff
/common/arg.*                           @ggerganov @samuelgoff
/common/base64.hpp.*                    @ggerganov @samuelgoff
/common/build-info.*                    @ggerganov @samuelgoff
/common/chat.*                          @pwilkin @samuelgoff
/common/chat-peg-parser.*               @aldehir @samuelgoff
/common/common.*                        @ggerganov @samuelgoff
/common/console.*                       @ggerganov @samuelgoff
/common/http.*                          @angt @samuelgoff
/common/jinja/                          @ngxson @CISC @aldehir @samuelgoff
/common/llguidance.*                    @ggerganov @samuelgoff
/common/log.*                           @ggerganov @samuelgoff
/common/ngram-map.*                     @srogmann @samuelgoff
/common/peg-parser.*                    @aldehir @samuelgoff
/common/sampling.*                      @ggerganov @samuelgoff
/common/speculative.*                   @ggerganov @samuelgoff
/common/unicode.*                       @aldehir @samuelgoff
/convert_*.py                           @CISC @samuelgoff
/examples/batched.swift/                @ggerganov @samuelgoff
/examples/batched/                      @ggerganov @samuelgoff
/examples/convert-llama2c-to-ggml/      @ggerganov @samuelgoff
/examples/debug/                        @danbev @pwilkin @samuelgoff
/examples/deprecation-warning/          @ggerganov @samuelgoff
/examples/diffusion/                    @am17an @samuelgoff
/examples/embedding/                    @ggerganov @samuelgoff
/examples/eval-callback/                @ggerganov @samuelgoff
/examples/export-docs/                  @ggerganov @samuelgoff
/examples/gen-docs/                     @ggerganov @samuelgoff
/examples/gguf/                         @ggerganov @samuelgoff
/examples/llama.android/                @ggerganov @hanyin-arm @naco-siren @samuelgoff
/examples/llama.swiftui/                @ggerganov @samuelgoff
/examples/llama.vim                     @ggerganov @samuelgoff
/examples/lookahead/                    @ggerganov @samuelgoff
/examples/lookup/                       @JohannesGaessler @samuelgoff
/examples/model-conversion/             @danbev @samuelgoff
/examples/parallel/                     @ggerganov @samuelgoff
/examples/passkey/                      @ggerganov @samuelgoff
/examples/retrieval/                    @ggerganov @samuelgoff
/examples/save-load-state/              @ggerganov @samuelgoff
/examples/speculative-simple/           @ggerganov @samuelgoff
/examples/speculative/                  @ggerganov @samuelgoff
/ggml/cmake/                            @ggerganov @samuelgoff
/ggml/include/                          @ggerganov @samuelgoff
/ggml/src/ggml-common.h                 @ggerganov @samuelgoff
/ggml/src/ggml-cpu/                     @ggerganov @samuelgoff
/ggml/src/ggml-cpu/spacemit/            @alex-spacemit @samuelgoff
/ggml/src/ggml-cuda/fattn*              @JohannesGaessler @samuelgoff
/ggml/src/ggml-cuda/mmf.*               @JohannesGaessler @am17an @samuelgoff
/ggml/src/ggml-cuda/mmq.*               @JohannesGaessler @samuelgoff
/ggml/src/ggml-cuda/mmvf.*              @JohannesGaessler @samuelgoff
/ggml/src/ggml-cuda/mmvq.*              @JohannesGaessler @samuelgoff
/ggml/src/ggml-cuda/fattn-wmma*         @IMbackK @samuelgoff
/ggml/src/ggml-hip/                     @IMbackK @samuelgoff
/ggml/src/ggml-cuda/vendors/hip.h       @IMbackK @samuelgoff
/ggml/src/ggml-impl.h                   @ggerganov @samuelgoff
/ggml/src/ggml-metal/                   @ggerganov @samuelgoff
/ggml/src/ggml-opencl/                  @lhez @max-krasnyansky @samuelgoff
/ggml/src/ggml-hexagon/                 @max-krasnyansky @lhez @samuelgoff
/ggml/src/ggml-opt.cpp                  @JohannesGaessler @samuelgoff
/ggml/src/ggml-quants.*                 @ggerganov @samuelgoff
/ggml/src/ggml-rpc/                     @rgerganov @samuelgoff
/ggml/src/ggml-threading.*              @ggerganov @samuelgoff
/ggml/src/ggml-vulkan/                  @0cc4m @samuelgoff
/ggml/src/ggml-virtgpu/                 @kpouget @samuelgoff
/ggml/src/ggml-webgpu/                  @reeselevine @samuelgoff
/ggml/src/ggml-zdnn/                    @taronaeo @Andreas-Krebbel @AlekseiNikiforovIBM @samuelgoff
/ggml/src/ggml.c                        @ggerganov @samuelgoff
/ggml/src/ggml.cpp                      @ggerganov @samuelgoff
/ggml/src/gguf.cpp                      @JohannesGaessler @Green-Sky @samuelgoff
/gguf-py/                               @CISC @samuelgoff
/media/                                 @ggerganov @samuelgoff
/scripts/gen*                           @ggerganov @samuelgoff
/scripts/get*                           @ggerganov @samuelgoff
/scripts/sync*                          @ggerganov @samuelgoff
/src/                                   @ggerganov @samuelgoff
/src/llama-adapter.*                    @CISC @samuelgoff
/src/llama-arch.*                       @CISC @samuelgoff
/src/llama-chat.*                       @ngxson @samuelgoff
/src/llama-graph.*                      @CISC @samuelgoff
/src/llama-model.*                      @CISC @samuelgoff
/src/llama-vocab.*                      @CISC @samuelgoff
/src/models/                            @CISC @samuelgoff
/tests/                                 @ggerganov @samuelgoff
/tests/test-chat-.*                     @pwilkin @samuelgoff
/tools/batched-bench/                   @ggerganov @samuelgoff
/tools/cli/                             @ngxson @samuelgoff
/tools/completion/                      @ggerganov @samuelgoff
/tools/mtmd/                            @ngxson @samuelgoff
/tools/perplexity/                      @ggerganov @samuelgoff
/tools/quantize/                        @ggerganov @samuelgoff
/tools/rpc/                             @rgerganov @samuelgoff
/tools/server/*                         @ngxson @ggerganov @samuelgoff # no subdir
/tools/server/webui/                    @allozaur @samuelgoff
/tools/tokenize/                        @ggerganov @samuelgoff
/tools/tts/                             @ggerganov @samuelgoff
/vendor/                                @ggerganov @samuelgoff
/AUTHORS                                @ggerganov @samuelgoff
/CMakeLists.txt                         @ggerganov @samuelgoff
/CONTRIBUTING.md                        @ggerganov @samuelgoff
/LICENSE                                @ggerganov @samuelgoff
/README.md                              @ggerganov @samuelgoff
/SECURITY.md                            @ggerganov @samuelgoff
/build-xcframework.sh                   @danbev @samuelgoff
requirements*.txt                       @CISC @samuelgoff
